<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DALinq.Properties.Settings.TestDAConnectionString"
            connectionString="Data Source=MIKO\MK5;Initial Catalog=TestDA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DALinq.Properties.Settings.TestDAConnectionString1"
            connectionString="Data Source=MIKO\MK5;Initial Catalog=TestDA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>