################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASPNETHosting/obj
/MySQL/obj/Debug
/MySQLTests/obj/Debug
/net3.5/linq/obj/Debug
/net3.5/linqprovider/obj/Debug
/net3.5/TestLinq/obj/Debug
/obm/bin/Debug
/obm/obj
/TestProject1/obj
/Tests/obj
/.vs/Worm/v14
/obm/Worm.Orm.vbproj.user
/MySQL/obj/Release
/MySQLTests/obj/Release
/net3.5/linq/obj/Release
/net3.5/linqprovider/obj/Release
/net3.5/TestLinq/obj/Release
/obm/bin/Release
/.vs/Worm/v15/Server/sqlite3
/.vs/Worm/v15/sqlite3/db.lock
/.vs/Worm/v15/sqlite3/storage.ide-shm
/.vs/Worm/v15/sqlite3/storage.ide-wal
/.vs/Worm/v16/Server/sqlite3/storage.ide-wal
/.vs/Worm/v16/Server/sqlite3/storage.ide-shm
/.vs/Worm/v16/Server/sqlite3/storage.ide
/.vs/Worm/v16/Server/sqlite3/db.lock
/ASPNETHosting/bin/Debug
/MySQL/bin/Debug
/MySQLTests/bin/Debug
/.vs/Worm/v16/TestStore/0
/packages/MySql.Data.6.9.12
/TestProject1/bin
/net3.5/linq/bin/Debug
