<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("2aa98873-88d9-4e58-9fa7-ac354f280a2c");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
